<!DOCTYPE html>
<html lang="en">
<head>
    <title>Nebeng Online</title>
    <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.1.1/solar/bootstrap.min.css" rel="stylesheet" integrity="sha384-5R1YdaymXlWnSzNCZhBMJnL6ZRBonq3cnj8A38eihLMaAb66oNJhErrQy9jIGHkl" crossorigin="anonymous">
</head>
<body>
    <h1>Welcome to Nebeng Online</h1>
    <a href="/customer/addCustomer" class="btn btn-primary">Customer Register</a>
      
    <a href="/provider/addProvider" class="btn btn-primary">Driver Register</a>
    
    <a href="/login" class="btn btn-primary">Login</a>
</body>
</html>