
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Nebeng Online</title>
</head>
<body>
    <h1>Welcome to Nebeng Online</h1>
    <a href="/customer/addCustomer">Customer Register</a>
    <br><br>    
   
    <a href="/login">Login</a>
</body>
</html>