<!DOCTYPE html>
<html lang="en">
<head>
    <title>Nebeng Online Home</title>
</head>
<body>
    <h1>Welcome to Nebeng Online Homepage</h1>
    <a href="/registerCustomer">Customer Register</a>
    <br><br>    
    <a href="/registerDriver">Driver Register</a>
</body>
</html>