<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form action="/customer/edit/<%=dataCustomer.id%>" method ="POST">
    Name : <br>
    <input type = 'text' name ="name" value ="<%dataCustomer.name%>"><br>
    Phone : <br>
    <input type = 'text' name="phone" value = "<%dataCustomer.phone%>"><br>
    Password : <br>
    <input type ='text' name ="password" value ="<%dataCustomer.password%>"><br>
    <input type ='submit'value ="edit">
    
    
    </form>
</body>
</html>