<!DOCTYPE html>
<html lang="en">
<head>
    <h2>Register New Customer</h2>
</head>
<body>
    
    Name: <input type="text" placeholder="Name">
    <br><br>
    Email: <input type="text" placeholder="Email">
    <br><br>
    Username: <input type="text" placeholder="Username">
    <br><br>
    Password: <input type="password" placeholder="Password">
    <br><br>
    <input type="submit" value="Submit">

    <form action="/">
        <input type="submit" value="Cancel">
    </form>
    
</body>
</html>